.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;

    .login-email-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
}